body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 30px; /* Размер основного шрифта в <p></p>  */
    background-color: #414141; /* Цвет фона веб-страницы */
    color: #f3f3f3; /* Цвет основного текста */ 
}
h1 {
    color: #a8009a; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}